@value colors: '../../../styles/variables/colors.css';
@value bgColor, accentColor, activeBtnColor from colors;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  margin-top: 20px;

  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: bgColor;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: accentColor;
}

.button:focus {
  background-color: activeBtnColor;
}
